<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Stop madspild!</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
<header>
    <nav>
        <ul>
            <li>
                <a href="#stopmadspild">Stop madspild!</a>
            </li>
            <li>
                <a href="#hvadgørvi">Hvad gør vi?</a>
            </li>
            <li>
                <a href="#links">Links</a>
            </li>
            <li>
                <a href="#hvemervi">Hvem er vi?</a>
            </li>
        </ul>
    </nav>
</header>

<main>
    <section id="stopmadspild">
        <h1>Stop madspild!</h1>
    </section>
    <section id="hvadgørvi">
        <h1>Hvad gør vi?</h1>
    </section>
    <section id="links">
        <h1>Links</h1>
        <div>
            <a href="https://www.dr.dk/drtv/serie/madchokket_199245"
            >Madchokket på DR</a
            >
        </div>
    </section>

    <section id="hvemervi">
        <h1>Hvem er vi?</h1>
        <div class="sidebyside">
            <div class="tekst">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam
                voluptatibus corporis consequatur amet deleniti voluptatum facere
                dolore! Deleniti officiis, explicabo, rerum enim suscipit quibusdam
                sed deserunt ut aspernatur ea delectus.
            </div>
            <div class="billede">
                <img src="img/related-1.jpg" alt="Mand ved PC" />
            </div>
        </div>
    </section>
</main>
</body>
</html>
